body{
  background-color: rgb(185, 151, 185);
  font-weight: 100;
}
h1 {color:rgb(127, 7, 187);
font-weight:900;
text-align: center;
font-size: 80px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0 auto;
padding: 0%;

 }
h2 {border: 1px solid lightcoral;
border-radius: 3px;
text-align: center;
font-size:60;
line-height: 60px;
font-weight:800;
color: brown;
background: plum;
}
p {
border-radius: 3px;
text-align: center;
font-size: 30;
line-height: 40px;
font-weight: 900;
color: whitesmoke;
background: darkcyan;
margin: 10px;
}
p.cardbox {
  background:rgb(20, 245, 132);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color:blueviolet;
  margin: 20px;
  height: 60px;

}
div.buttonbox { 
display: inline-block;
border: 12px, solid, rgb(3, 32, 128);
border-radius: 15px;
padding: 6px, 11px, 15px, 9px;
height: 600px;
width: 1000px;
background:rgb(107, 102, 107);
font-family: Helvetica;
font-size: 20px;
float: left;
}
button.stylebutton { 
  border: 10px, dotted, orange;
  border-radius: 120px;
  height: 240px;
  width: 240px;
  background: darkblue;
  text-align: center;
  font-size: 25px;
  color: white;
  float: right;
}
#title {
  background: pink;
  font-family: 'Lucida Bright','Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  color: sienna;
  font-size: 50px;
  padding: 20px;

}
#description {
  background: plum;
  font-family: 'Lucida Bright','Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  color: saddlebrown;
  font-size: 40px;
  line-height: 50px;
  padding: 20px;


}