
body{
  background: rgb(191, 168, 206);}

h1 {color:rgb(127, 7, 187);
font-weight:900;
font-size: 60px;
line-height: 60px;
text-align: left;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0 auto;
padding: 0%;
 }

h2 {
border: 1px solid saddlebrown;
border-radius: 3px;
text-align: center;
font-size: 30px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, 'sans-serif';
line-height: 1.1;
font-weight: 800;
color: darkcyan;
background: rgb(187, 186, 187);
}
p {
border-radius: 3px;
text-align: center;
font-size: 30px;
font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
line-height: 40px;
font-weight: 900;
color: lightblue;
background: rgba(146, 13, 42, 0.719);
margin: 5px;
}
p.cardbox {
  background:rgb(155, 112, 112);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  color:rgb(91, 11, 167);
  margin: 4px;
}

button.stylebutton { 
  border-radius: 150px;
  height: 300px;
  width: 300px;
  background: darkblue;
  text-align: center;
  font-size: 30px;
  color: white;
  float: right;
}


#title {
  background: rgb(240, 174, 185);
  font-family: 'Lucida Bright','Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  color: sienna;
  font-size: 50px;
  padding: 5px;

}
#description {
  background: plum;
  font-family: 'Lucida Bright','Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  color: saddlebrown;
  font-size: 40px;
  line-height: 50px;
  padding: 20px;
  position: inline;

}

header .title1-image {
  height: 10%;
  width: 8%;
  position: relative;
  display: inline;
  justify-content: center;
  padding: 5px;
}

 .title2-image {
  height: 15%;
  width: 12%;
  display: inline;
  padding: 5px;
  z-index: 1;
}
